.sign-container{
    display: grid;
    gap: 0.5rem;
    padding: 2rem;
    height: 100vh;
    width: 100vw;
    color: blue;
}

.sign-container form {
    display: grid;
    gap: 1.5rem;
    color: black;
}
.sign-container form input {
    width: 100%;
    border: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    border-radius: 12px;
}

.sign-container form button {
    border: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    outline: none;
    background-color: blue;
    border-radius: 12px;
    color: white;
    padding: 1rem;
    cursor: pointer;
}

.sign-container form h3 span{
    font-weight: bold;
    color: blue;
    font-style: italic;
    text-decoration: underline;
}

.sign-container form h1{
    color: blue;
}

.sign-container form input::placeholder {
    color: gray;
    font-style: italic;
    margin-left: 20px;

}

.sign-container form h1{
    color: blue;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

.sign-container form h4{
    text-align: center;
}

.social-media{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
}
.social-media img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.social-media-icon{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
}